<div class="container">
    <center> <h2>Login </h2></center>
    <br><br>
    <form id="login-form">
      <p><input id="username" name="username" class="w3-input w3-padding-16" type="text" placeholder="Enter Username:" required></p>
      <p><input id="password" name="password" class="w3-input w3-padding-16" type="password" placeholder="Enter your password:" required ></p>
      <p><button class="w3-button w3-light-green w3-section" type="submit">Login</button>&nbsp;</p>
    </form>

</div>